<app-nav-bar></app-nav-bar>

<section class="section section-intro context-dark">
    <div class="intro-bg" style="background: url(assets/images/intro-bg-1.jpg) no-repeat;background-size:cover;background-position: top center;"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 text-center">
          <h1 class="font-weight-bold wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"></h1>
          <p class="intro-description wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;"></p>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer> 