<div>
    <div class="d-flex">
        <div class="p-2">
            <div class="heading">Class</div>
            <div class="heading-data">CAKICI's Graders</div>
        </div>
        <div class="p-2">
            <div class="heading">Class Code</div>
            <div class="heading-data">GBUVRA</div>
        </div>
        <div class="ml-auto p-2">
            <button type="button" class="add-button">Add Student</button>
        </div>
      </div>
</div>

<div>
  <table class="table table-bordered round">
    <thead class="table-head">
      <tr>
        <th scope="col">Student Name (1)</th>
        <th scope="col">Grade</th>
        <th scope="col">Parent Email</th>
        <th scope="col">Home Access</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">
            <div>
                <img src="../../../assets/images/avatar.png" alt="Avatar" class="avatar">
                <h2>Zain Haider</h2>
            </div>
        </td>
        <td class="align-middle">
            <div>Grade 1</div>
        </td>
        <td class="align-middle" style="padding: 5px;">
            <div>
                <input type="text" placeholder="Parent Email" style="border-radius: 10px; padding: 8px; border: 1px solid lightcoral;">
                <button type="button" class="add-button">Invite</button>
            </div>
        </td>
        <td class="align-middle">
            <div>Not enabled yet</div>
        </td>
        <td class="align-middle">
            <div class="d-flex justify-content-center">
                <div style="margin: 2px;">
                    <i data-feather="edit-2" class="feather-icon"></i>
                </div>
                <div style="margin: 2px;">
                    <i data-feather="trash" class="feather-icon"></i>   
                </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
