.table {
    text-align:center;
}

.table,
.table > thead > tr > th,
.table > tbody > tr > td
{
    border:1px solid lightgray;
}

.table-bordered > thead > tr > th {
    border: 0;
}

.table-head{
    background-color: #fce4cc;
}

.round thead th:first-child {
    border-radius: 10px 0 0 0;
}

.round thead th:last-child {
    border-radius: 0 10px 0 0;
}

.round tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.round tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.add-button {
    background-color: #f79839; /* Green */
    border: none;
    border-radius: 16px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .heading{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.heading-data{
    color: #f79839;
    font-size: 22px;
    font-weight: 500;
}

.avatar {
    border-radius: 50%;
    border: 3px solid #f79839;
    width: 50px;
  }