<div class="row">
    <!-- column -->
    <div class="col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card card-select">
            <div class="image-box">
                <img class="card-img-top img-fluid px-3 pb-0" src="assets/images/games/upcoming.png" alt="The Adventure of Gizmo and Azzo">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center text-truncate">"Meeting Myself"</h5>
                <h6 class="card-text text-center">Learning about emotions and how to deal with certain overwhelming emotions</h6>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card card-select">
            <img class="card-img-top img-fluid px-3 pb-0" src="assets/images/games/upcoming.png" alt="Confronting Aliens">
            <div class="card-body">
                <h5 class="card-title text-center text-truncate">"The Bully"</h5>
                <h6 class="card-text text-center">Learning how to deal with bullying</h6>
            </div>

        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card card-select">
            <img class="card-img-top img-fluid px-3 pb-0" src="assets/images/games/upcoming.png" alt="Stage 3">
            <div class="card-body">
                <h5 class="card-title text-center text-truncate">"Solving Aliens Code"</h5>
                <h6 class="card-text text-center">Training listening and discrimination of letters and words</h6>
            </div>

        </div>
        <!-- Card -->
    </div>
    <!-- column -->

</div>