
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-primary: mat.define-palette(mat.$indigo-palette);
$admin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$admin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-theme: mat.define-light-theme((
  color: (
    primary: $admin-primary,
    accent: $admin-accent,
    warn: $admin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-theme);

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "assets/extra-libs/c3/c3.min.css";
@import "assets/libs/chartist/dist/chartist.min.css";
@import "assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css";
@import "dist/css/daterangepicker.css";
@import "dist/css/style.css";
@import "dist/css/style-ar.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Popins, Roboto, "Helvetica Neue", sans-serif;
}

.card-select {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card-select:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

.card-select:hover .feather-icon {
  color: #f79939;
}

.card .card-title {
  color: inherit;
}

.sv-root-modern .sv-footer__complete-btn {
  background-color: #f79939 !important;
}

.sv-title {
  font-family: inherit;
  font-weight: initial;
  font-size: initial;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
