<p>Terms of usage and registration in GAMEIT website ( www.gameit.ai ) and other websites of the Company</p>

<p>First Article; Introduction</p>

<p>Second Article: The nature of the Site:</p>

<p>Third Article : The Intellectual property right</p>

<p>Fourth Article: Site usage</p>

<p>Fifth Article: Registration mechanism</p>

<p>Sixth Article: Information sent to Company websites: Seventh Article : Non guarantee</p>

<p>Eighth Article : Disclaiming</p>

<p>Ninth Article: Privacy</p>

<p>Tenth Article : Terms of service delivery and prices</p>

<p>Article eleven: Changes and updates</p>

<p>Article twelve: Customer's security obligations.</p>

<p>Article thirteen: Customer requests</p>

<p>A. Results originate from Customer Requests</p>

<p>B - Instructions implementation</p>

<p>C - Failure of the other party:</p>

<p>D- Accuracy and completion of Instructions</p>

<p>Article fourteen: General Rules A. The applicable law and Jurisdiction:</p>

<p>B. The reference upon discrepancy of the two parties records:</p>

<p>Article fifteen: Representation</p>