<div style="margin:40px">
    <p>PLATFORM TERMS OF SERVICE</p>

    <p></p>

    <p>Last updated: 26/03/2022</p>

    <p></p>

    <p>The terms of this agreement (&ldquo;Terms of Service&rdquo;) govern the relationship between you (&ldquo;you&rdquo; or &ldquo;user&rdquo;) and GameIT Square (hereinafter &ldquo;GameIT&rdquo; or &ldquo;us&rdquo; or &ldquo;we&rdquo;) regarding your
        use of GameIT games, mobile applications, game portals, game forums, chat rooms of the games and other related services provided by GameIT on any website, platform and/or application (the &ldquo;Service&rdquo;). Use of the Service is also governed
        by Privacy Policy, which is incorporated herein by reference, as well as other agreements and terms in respect of certain Service (if any).</p>

    <p></p>

    <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY REGISTERING FOR, ACCESSING, BROWSING, DOWNLOADING FROM OR USING THE SERVICE, YOU (A) ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THESE TERMS OF SERVICE; AND (B) HEREBY CONFIRM
        THAT YOUR AGE IS SUFFICIENT FOR USE OF THE SERVICE UNDER THE APPLICABLE LAWS AND/OR YOU HAVE ALL NECESSARY CONSENTS (E.G. PARENTAL CONSENTS) IN FULL COMPLIANCE WITH THE APPLICABLE LAWS, INCLUDING FOR PURPOSES OF DATA PROTECTION LAWS, OTHERWISE
        YOUR USE OF THE SERVICE IS PROHIBITED; LIABILITY FOR ACTIONS OF A USER WHO HAS NOT ACHIEVED THE REQUIRED AGE SHALL BE IMPOSED ON HIS/HER PARENTS OR LEGAL REPRESENTATIVES). GAMEIT RESERVES THE RIGHT, AT ITS DISCRETION, TO CHANGE, MODIFY, ADD OR
        REMOVE PORTIONS OF THESE TERMS OF SERVICE AT ANY TIME BY POSTING THE AMENDED TERMS ON THE SERVICE. IF AT ANY TIME YOU DO NOT AGREE TO THESE TERMS OF SERVICE, PLEASE IMMEDIATELY TERMINATE YOUR USE OF THE SERVICE.</p>

    <p>IN THE EVENT THAT YOU, IN ACCORDANCE WITH THE LAWS OF YOUR STATE, ARE PROHIBITED TO USE THE SERVICE OR PORTIONS THEREOF OR THERE ARE OTHER LEGAL RESTRICTIONS, YOU DO NOT HAVE THE RIGHT TO USE THE SERVICE. IN SUCH A CASE, YOU WILL BE SOLELY RESPONSIBLE
        FOR THE USE OF THE SERVICE OR THE RELEVANT PART OF IT ON THE TERRITORY OF YOUR STATE IN VIOLATION OF THE RELEVANT LEGISLATION.</p>

    <p></p>

    <p>The Service is also not available to any users previously suspended or removed from the Service by GameIT.</p>

    <p></p>

    <p>1. YOUR ACCOUNT</p>

    <p></p>

    <p>Your Account is for your personal, non&ndash;commercial use. You shall not share the Account or the Login Information, nor let anyone else access your Account or do anything else that might threaten the security of your Account. You are solely responsible
        for maintaining the confidentiality of your Login Information, and you will be solely responsible for all uses of your Login Information, including any purchases or other changes to your Account and/or Account status, whether or not authorized
        by you. You are responsible for anything that happens through your Account. GameIT will not be responsible for anything that happens through or to your Account and/or Account status as a result of you allowing any third party to access your Login
        Information and/or Account. In the event you become aware of or reasonably suspect any breach of security, including without limitation any loss, theft, or unauthorized disclosure of the Login Information, you must immediately notify GameIT and
        modify your Login Information. In the absence of such promptly notification we cannot guarantee the safety of you Service progress.</p>

    <p></p>

    <p>2. LIMITED LICENSE TO USE THE SERVICE</p>

    <p></p>

    <p>From the moment of acceptance of this Terms of Service, GameIT grants to you non-transferable, non-sublicensable, revocable limited license subject to the limitations below to access and use the Service for your own non-commercial entertainment purposes.
        You agree not to use the Service for any other purpose.</p>

    <p></p>

    <p>Unless otherwise specified by GameIT, you are not permitted to reproduce, copy, modify, distribute, transmit, display, publish, license, create derivative works from the Service or any its part.</p>

    <p></p>

    <p>All rights not expressly granted in this Terms of Use are reserved.</p>

    <p></p>

    <p>3. LICENSE RESTRICTIONS</p>

    <p></p>

    <p>Using the Service, You agree to comply with the following license restrictions when you access or use the Service:</p>

    <p>You will not attempt to obtain Login Information or access another user&rsquo;s Account or collect or harvest personal information from other users;</p>

    <p>You will not improperly use our support services, including by submitting false reports as well as you will not distribute any messages received by you from our support services;</p>

    <p>You will not harass, threaten or bully any other users, nor post or submit any abusive, threatening, bullying, harassing, obscene, defamatory, offensive, pornographic or illegal content, or content that infringes or violates the rights of someone
        else, or impersonate any other person;</p>

    <p>You will not use the Service for any unauthorized commercial purpose, including but not limited to commercial advertisement or solicitation (such as chain letters, junk e-mail, &ldquo;spam,&rdquo; or other repetitive messages), or gathering or transferring
        In-Service Content (as defined below) for sale;</p>

    <p>You shall not sell, purchase, exchange, transfer, give as a gift, your Account as well as spread the information about any intention to perform above;</p>

    <p>You will not use the Service for performing services for payment, such as levelling up or item collection services;</p>

    <p>You will not use or design cheats, exploits, automation software, bots, hacks, mods or any unauthorized software designed to modify or interfere with the Service experience;</p>

    <p>You will not disrupt or attempt to disrupt the Service or any other person&rsquo;s use or enjoyment of the Service;</p>

    <p>You will not use any software, technology, or device to send content or messages, scrape, spider, or crawl the Service, or harvest or manipulate data from the Service;</p>

    <p>Except where permitted by law or relevant open-source licenses, you will not modify, reverse engineer, decompile, disassemble, decipher or otherwise try to derive the source code for the Service;</p>

    <p>You will not advocate, promote, encourage, or otherwise facilitate any illegal behaviour, including but not limited to the use of illegal drugs, unlawful gambling or theft.</p>

    <p></p>

    <p></p>

    <p></p>

    <p>4. LIABILITY FOR VIOLATION OF THESE TERMS OF SERVICE</p>

    <p></p>

    <p>GameIT shall have the right to apply to you, in case of violation of these Terms of Service, the following types of sanction depending on the extent of the violation committed by you on the game process and other users:</p>

    <p>issuance of a warning in any form, including via e-mail;</p>

    <p>suspension of access to the Service for a definite or indefinite term;</p>

    <p>forced renaming of the game character, community of users or the game object;</p>

    <p>withdrawal of the in-game currency and/or the in-game valuables;</p>

    <p>restriction, suspension or termination of access to your game character or to the Account;</p>

    <p>a change in the values of achievements and parameters of development of your game character;</p>

    <p>removal of the game character or of the Account without possibility of restoration.</p>
</div>