<app-nav-bar></app-nav-bar>

<section class="section section-intro context-dark" style="background-color:#dd6b83">
    <div class="intro-bg" style="background: url(assets/images/intro-bg-1.png) no-repeat;background-size:cover;background-position: top center;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
                <h1 class="font-weight-bold wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"></h1>
                <p class="intro-description wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;"></p>
            </div>
        </div>
    </div>
</section>
<section class="section section-md bg-white">
    <div class="container">
        <div class="row row-40 justify-content-center">
            <div class="col-lg-6 col-sm-10 col-12">
                <div class="block-decorate-img wow fadeInLeft" data-wow-delay=".2s"><img src="assets/images/intro-bg-1.png" alt="" width="570" height="351" />
                </div>

            </div>
            <div class="col-lg-6 col-12">
                <h3 class="wow fadeInLeft text-capitalize innovation devider-bottom" data-wow-delay=".3s" [innerHTML]="'_Our_Innovation_Page_Title'|translate"></h3>
                <div class="page-body offset-top-45 offset-lg-right-45">
                    <p class="font-weight-bold text-gray-dark" translate>_Our_Innovation_Page_FirstLine</p>
                    <ul style="text-decoration: none;">
                        <li translate>_Our_Innovation_Page_SecondLine</li>
                        <li translate>_Our_Innovation_Page_ThirdLine</li>
                        <li translate>_Our_Innovation_Page_FourthLine</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>