@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "assets/extra-libs/c3/c3.min.css";
@import "assets/libs/chartist/dist/chartist.min.css";
@import "assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css";
@import "dist/css/daterangepicker.css";
@import "dist/css/style.css";
@import "dist/css/style-ar.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Popins, Roboto, "Helvetica Neue", sans-serif;
}

.card-select {
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card-select:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.card-select:hover .feather-icon {
    color: #f79939;
}

.card .card-title {
    color: inherit;
}

.sv-root-modern .sv-footer__complete-btn {
    background-color: #f79939 !important;
}

.sv-title {
    font-family: inherit;
    font-weight: initial;
    font-size: initial;
}