<div class="" style="text-align: center; padding-top: 40px">
  <a href="/" class="brand">
    <img
      src="assets/images/gameit-logo-medium.png"
      alt=""
      width="200"
      height="40"
      class="brand-logo-dark"
    />
  </a>
</div>

<!--------------------
    Reset Password
--------------------->
<div
  *ngIf="resetPass"
  class="col-md-12 p-3"
  style="margin: 0 auto; max-width: 450px"
>
  <div
    class="card card-container"
    style="text-align: initial; padding: 40px 40px"
  >
    <h3 style="text-align: center; padding-bottom: 30px" translate="">
      _Reset_Password
    </h3>
    <div *ngIf="!isTokenExist">
      <div *ngIf="!isTokenSent">
        <h6 style="text-align: center" translate>_Reset_Password_Message</h6>

        <form
          name="form"
          (ngSubmit)="f.form.valid && onEmailSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="email" translate>_Reset_Password_Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="form.email"
              required
              #email="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="email.errors && f.submitted"
              translate
            >
              _Reset_Password_Email_Required
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" translate>
              _Reset_Password_Button
            </button>
          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isSendFailed"
              translate
            >
              {{ errorMessage }}
            </div>
          </div>

          <div class="haGqRf">
            <ul>
              <li>
                <a id="resetPassword" [routerLink]="['/login']"
                  ><span translate>_Reset_Password_Login</span></a
                >
              </li>
              <!-- <p class="bmtZSn">•</p>
                            <li><a id="signup" class="primary-action" [routerLink]="['/register']"><span translate>_Reset_Password_Signup</span></a></li> -->
            </ul>
          </div>
        </form>
      </div>

      <div
        *ngIf="isTokenSent"
        style="text-align: center"
        class="alert alert-success"
        translate
      >
        _Reset_Password_Success
      </div>
    </div>
    <div *ngIf="isTokenExist">
      <div *ngIf="isTokenValid">
        <div *ngIf="!isNewPasswordSet">
          <h6 style="text-align: center" translate>_Reset_Password_Set</h6>

          <form
            name="form"
            (ngSubmit)="f.form.valid && onNewPasswordSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="code" translate>_Reset_Password_Code</label>
              <input
                type="text"
                class="form-control"
                id="code"
                name="code"
                [(ngModel)]="form.code"
                required
                #code="ngModel"
                pattern="[0-9]{6,6}"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="errorMessage == 'Invalid verification code'"
                translate
              >
              Invalid verification code
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="code.errors?.['required'] && f.submitted"
                translate
              >
              _Verify_code_Required
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="code.errors?.['pattern'] && f.submitted"
                translate
              >
              _Reset_Password_Code_Alert
              </div>
            </div>
            <!--  -->
            <div class="form-group">
              <label for="password" translate>_Reset_Password_Set_New</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="form.password"
                required
                #password="ngModel"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="password.errors?.['required'] && f.submitted"
                translate
              >
                _Reset_Password_Set_Password_Required
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="password.errors?.['pattern'] && f.submitted"
                translate
              >
                _Reset_Password_Set_Password_Alert
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" translate
                >_Reset_Password_Set_New_Confirmation</label
              >
              <input
                type="password"
                class="form-control"
                name="confirmPassword"
                [(ngModel)]="form.confirmPassword"
                required
                #confirmPassword="ngModel"
                pattern="{{ password.value }}"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="confirmPassword.errors?.['required'] && f.submitted"
                translate
              >
                _Reset_Password_Set_New_Confirmation_Required
              </div>
              <div
                *ngIf="confirmPassword.errors?.['pattern']  && f.submitted"
                translate
              >
                _Reset_Password_Set_New_Confirmation_Alert
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" translate>
                _Reset_Password_Button
              </button>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isSendFailed"
                translate
              >
                _Reset_Password_Error {{ errorMessage }}
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="isNewPasswordSet">
          <div
            style="text-align: center"
            class="alert alert-success"
            *ngIf="isPasswordResetSuccess"
          >
            <a id="login" [routerLink]="['/login']"
              ><span translate>_Reset_Password_Set_Success</span></a
            >
          </div>

          <div
            style="text-align: center"
            class="alert alert-danger"
            role="alert"
            *ngIf="!isPasswordResetSuccess"
            translate
          >
            _Reset_Password_Set_Failed
          </div>
        </div>
      </div>
      <div *ngIf="!isTokenValid">
        <div
          style="text-align: center"
          class="alert alert-danger"
          role="alert"
          translate
        >
          _Reset_Password_Error {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>