<app-nav-bar></app-nav-bar>

<section class="section section-intro context-dark" style="background-color:#a1cb51">
    <div class="intro-bg" style="background: url(assets/images/intro-bg-1.png) no-repeat;background-size:cover;background-position: top center;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
                <h1 class="font-weight-bold wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"></h1>
                <p class="intro-description wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;"></p>
            </div>
        </div>
    </div>
</section>

<section class="section section-md bg-gray-lighten" style="padding-top:0">
    <div class="col-md col-12 text-center">
        <div class="section-name wow fadeInRight" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">&nbsp;</div>
        <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" [innerHTML]="'_Our_Team_Page'|translate"></h3>
        <p class="block-675" translate>_Our_Team_Page_Message</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <span class="team-ribbon devider-left">&nbsp;</span>
                <div class="owl-carousel review-carousel" data-items="1" data-sm-items="1" data-md-items="3" data-lg-items="4" data-xl-items="4" data-xxl-items="4" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="true"
                    data-autoplay="false">
                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-heba.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title"><p translate>_Heba</p></span>
                            <p translate>_Heba_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Heba_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-christiane.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
        <p translate>_Christiane</p></span>

                            <p translate>_Christiane_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Christiane_Quote</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-sean.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
          <p translate>_Sean</p></span>
                            <p translate>_Sean_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Sean_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-hanaa.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Hanaa</p></span>
                            <p translate>_Hanna_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Hanna_Quote</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-amr.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                  <p translate>_Amr</p></span>
                            <p translate>_Amr_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Amr_Quote</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-ali.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Ali</p></span>
                            <p translate>_Ali_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Ali_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-nesma.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Nesma</p></span>
                            <p translate>_Nesma_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Nesma_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-zulaikha.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Zulaikha</p></span>
                            <p translate>_Zulaikha_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Zulaikha_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-hebah.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Hebah</p></span>
                            <p translate>_Hebah_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Hebah_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-youssef.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Youssef</p></span>
                            <p translate>_Youssef_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Youssef_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-mahy.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Mahy</p></span>
                            <p translate>_Mahy_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Mahy_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-khalid.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Khalid</p></span>
                            <p translate>_Khalid_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Khalid_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-amr_e.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_AmrE.</p></span>
                            <p translate>_AmrE._Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_AmrE._Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-abdulmohsen.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Abdulmohsen</p></span>
                            <p translate>_Abdulmohsen_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Abdulmohsen_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-mohamed.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                <p translate>_Mohamed</p></span>
                            <p translate>_Mohamed_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Mohamed_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-Adham.jpg" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                        <p translate>_Adham</p></span>
                            <p translate>_Adham_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Adham_Quote</i></p>
                            </div>
                        </div>
                    </div>

                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-Aalaa.png" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                        <p translate>_Aalaa</p></span>
                            <p translate>_Aalaa_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Aalaa_Quote</i></p>
                            </div>
                        </div>
                    </div>



                    <div class="team item">
                        <div class="team item-preview" data-wow-delay=".2s"><img src="assets/images/team-classic-Yehia.jpg" alt="" width="216" height="108" />
                        </div>
                        <div class="team item-description">
                            <span class="team item-subsection-title">
                        <p translate>_Yehia</p></span>
                            <p translate>_Yehia_Job_Title</p>
                            <span class="team devider-left">&nbsp;</span>
                            <div style="width: 242px;">
                                <p class="owl-quote"><i translate>_Yehia_Quote</i></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>