<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<section class="statistic">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item" (click)="gotoStudents()">
                        <h2 class="number">{{numOfStudents}}</h2>
                        <span class="desc">Students</span>
                        <div class="icon">
                            <i class="zmdi zmdi-gamepad"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">0h</h2>
                        <span class="desc">Total Play Time</span>
                        <div class="icon">
                            <i class="fas fa-medal"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">0h</h2>
                        <span class="desc">Average Play Time</span>
                        <div class="icon">
                            <i class="zmdi zmdi-card-giftcard"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">0</h2>
                        <span class="desc">Average Score</span>
                        <div class="icon">
                            <i class="zmdi zmdi-timer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="min-height: 300px;">


</section>