<h3 style="padding-bottom: 30px;">Dashboard</h3>

<!-- *************************************************************** -->
<!-- Start First Cards -->
<!-- *************************************************************** -->
<div class="card-group">
    <div class="card border-right">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <div class="d-inline-flex align-items-center">
                        <h2 class="text-dark mb-1 font-weight-medium">{{totalTimePlayed}}</h2>
                        <span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none"></span>
                    </div>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Play Time (hh:mm:ss)</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="clock"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-right">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">{{totalMistakes}}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Mistakes
                    </h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="alert-triangle"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-right">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">{{totalWhiteCrystal}}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total White Crystal</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="award"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h2 class="text-dark mb-1 font-weight-medium">{{totalBlueCrystal}}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Blue Crystal</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="gift"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *************************************************************** -->
<!-- End First Cards -->
<!-- *************************************************************** -->

<h3 style="padding-bottom: 30px;">My Games</h3>

<div class="card-group">
    <div class="card">
        <img class="card-img-top img-fluid" src="assets/images/games/game1-stage1.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Voyage of Ezzo & Gizmo</h4>
            <p class="card-text">The start of the journey for Ezo and Gizmo, entering the city after the alien invasion. Ezo's family along all humans on earth have been taken by aliens. Ezo with the help of Gismo will complete puzzles and fun gameplay obstacles, must find
                a way to rescue his family. </p>
            <p> In this stage we train the players focus and attention span, the player will be engaged in a game environment while enhancing their cognitive abilities.</p>
            <a href="http://gameit.ai:9080/api/student/download?downloadGame=gameit-setup.exe&studentGameId=5" class="btn btn-primary">Download</a>

        </div>
    </div>

    <div class="card">
        <img src="assets/images/games/game1-stage2.png " alt="Card image cap ">
        <div class="card-body ">
            <h4 class="card-title ">Confronting Aliens</h4>
            <p class="card-text ">The second part of the adventure for Ezo and Gismo, they stumble across a laboratory, where they have to complete puzzles, defeat aliens, and rescue civilians.
            </p>
            <p>In this stage the player is trained to distinguish between different shapes and colors. With added abilities such as firing laser beams. The player will always have something to do, that brighten the gameplay experience.</p>
            <a href="http://gameit.ai:9080/api/student/download?downloadGame=gameit-setup.exe&studentGameId=5" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>