<div class="" style="text-align:center;padding-top:40px">
  <a href="/" class="brand">
    <img src="assets/images/gameit-logo-medium.png" alt="" width="200" height="17" class="brand-logo-dark">
  </a>
</div>
<div class="col-md-12">
  <div class="register card card-container">
    <img *ngIf="!isSuccessful" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <h4 *ngIf="!isSuccessful" style="text-align: center;">Sign Up As Guardian</h4>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div>
      <div class="form-group" style="float: left; margin-right: 20px;">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" required minlength="3"
          maxlength="200" #firstname="ngModel" />
        <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
          <div *ngIf="firstname.errors['required']">First name is required</div>
          <div *ngIf="firstname.errors['minlength']">
            First name must be at least 3 characters
          </div>
          <div *ngIf="firstname.errors['maxlength']">
            First name must be at most 200 characters
          </div>
        </div>
      </div>
      <div class="form-group" style="float: left;">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" required minlength="3"
          maxlength="200" #lastname="ngModel" />
        <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
          <div *ngIf="lastname.errors['required']">Last name is required</div>
          <div *ngIf="lastname.errors['minlength']">
            Last name must be at least 3 characters
          </div>
          <div *ngIf="lastname.errors['maxlength']">
            Last name must be at most 200 characters
          </div>
        </div>
      </div>
      </div>
      <div class="form-group" style="clear: both;">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
          maxlength="200" #username="ngModel" />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 200 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
          #email="ngModel" />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
      <div class="haGqRf">
        <ul>
          <li><a id="already-have-an-account" href="/login"><span>Already have an GameIT account? Log in</span></a></li>
        </ul>
      </div>
    </form>

    <div class="alert alert-success" style="text-align: center;" *ngIf="isSuccessful">
      <section class="sc-eNQAEJ haVFxc" role="main">
        <div class="sc-jKJlTe jPieqz">
          <h4>Check your inbox to log in</h4>
        </div>
        <div id="email-sent-page">
          <div class="sc-cHGsZl crTHGb"> <img style="width: 100px; margin:10px" id="email-img" src="assets/images/verify-email.png" class="email-img" />
          </div>
          <div class="sc-TOsTZ fHxUUE">
            <p>To complete setup and log in, click the verification link in the email we’ve sent to</p>
          </div>
          <p class="sc-cJSrbW hLZUCD">{{ userEmail}}</p>
        </div>
       
      </section>
    </div>

  </div>
</div>