<!--Footer-->
<footer class="section footer-classic section-sm">
    <div class="container">
        <div class="row row-30">
            <div class="col-lg-3 col-sm-8">
                <p class="footer-classic-title" translate>_Footer-contact_info</p>
                <div class="d-block offset-top-0" translate>_Footer_Riyadh <span class="d-lg-block" translate>_Footer_Saudi_Arabia</span></div>
                <ul>
                    <li><a class="d-inline-block accent-link" href="tel:#" translate>_Footer_Phone_Number</a></li>
                    <li><a class="d-inline-block accent-link" href="mailto:info@gameit.ai">info@gameit.ai</a></li>

                </ul>
            </div>
            <div class="col-lg-2 col-sm-4">
                <p class="footer-classic-title" translate>_Footer_Quick_Links</p>
                <ul class="footer-classic-nav-list">
                    <li><a [routerLink]="['/']" href="#" translate>_Footer_Home</a></li>
                    <li><a [routerLink]="['/solution']" href="#" translate>_Footer_What_We_Do</a></li>
                    <li><a [routerLink]="['/team']" href="#" translate>_Footer_Our_Team</a></li>
                    <li><a [routerLink]="['/innovation']" href="#" translate>_Footer_Our_Innovation</a></li>
                    <li><a [routerLink]="['/blog']" href="#" translate>_Footer_Our_Blog</a></li>
                    <li><a [routerLink]="['/contact']" href="#" translate>_Footer_Contact_Us</a></li>
                </ul>
            </div>

            <!--div class="col-lg-4">
          <p class="footer-classic-title">newsletter</p>
          <form class="rd-mailform text-left footer-classic-subscribe-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
            <div class="form-wrap">
              <label class="form-label" for="subscribe-email">Your Email Address</label>
              <input class="form-input" id="subscribe-email" type="email" name="email" data-constraints="@Email @Required">
            </div>
            <div class="form-button group-sm text-center text-lg-left">
              <button class="button button-primary button-circle" type="submit" disabled>sign up</button>
            </div>
          </form>
          <p>Be the first to find out about our latest news, updates, and special offers.</p>
        </div-->
        </div>
    </div>
    <div class="container">
        <div class="footer-classic-aside">
            <p class="rights" [innerHTML]="'_Footer_Right_Reserved'|translate"></p>
            <ul class="social-links">
                <li>
                    <a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/company/gameit-ai"></a>
                </li>
                <li>
                    <a class="fa fa fa-twitter" target="_blank" href="https://twitter.com/Gameit_ai"></a>
                </li>
                <!--li><a class="fa fa-facebook" href="#"></a></li-->
                <li>
                    <a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/gameit.ai/"></a>
                </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</footer>